<footer id="foother" class="mt-5 ">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-4 naslov">
                    <h3>Laboratorija za robotiku</h3>
                    <div id="google_translate_element"></div>
                </div>


                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">

                        </div>
                        <div class="col-md-8">
                            <h4 class="text-white">Kontakt</h4>
                            <p class="text-white"> Fakultet tehničkih nauka u Čačku
                                Svetog Save 65, 32102 Čačak</p>
                            <p class="text-white">Tel. 032 302-700</p>
                        </div>

                    </div>
                </div>


                <!-- <div class="col-md-8">
                    <div class="row">
                        <div class="col-6">
                            <ul>

                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/pocetna">Početna</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/predmeti">Predmeti</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/nastavnici">Nastavnici</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/projekti">Projekti</a>
                                </li>
                                


                            </ul>


                        </div>
                        <div class="col-6">
                            <ul>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/diplomski">Diplomski i master radovi</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/monografije">Monografije</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/obavestenja">Obaveštenja</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/partneri">Partneri</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/lab">Laboratorije</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="row py-2">
                <div class="col-6">
                    <a href="http://www.ftn.kg.ac.rs/" target="_blank">
                        <img src="../../../assets/ftn.svg" width="72" height="72" alt="">
                    </a>
                </div>
                <div class="col-6">
                    <div class="licenca">
                        <a href="https://kg.ac.rs/" target="_blank">
                            <img src="../../../assets/grb.png" width="72" height="72" alt="">
                        </a>

                    </div>
                </div>
            </div>
        </div>


    </div>

</footer>