<div class="container">
    <h2 class="text-center py-5 fw-bold">NASTAVNICI</h2>

    <div class="row">

        <div class="col-12">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action fw-bold" aria-current="true"
                    style="background-color: #f8d7da;">
                    Redovni profesori
                </button>
                <button type="button" class="list-group-item list-group-item-action ">

                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/snezana.dragicevic" target="_blank"
                        style="text-decoration: none; ">
                        Prof. dr Snežana Dragićević, <span class="fw-bold">Šef
                            katedre</span>
                    </a>
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/ivan.milicevic" target="_blank"
                        style="text-decoration: none; ">
                        Prof. dr Ivan Milićević
                    </a>

                </button>

            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action fw-bold" aria-current="true"
                    style="background-color: #f8d7da;">
                    Vanredni profesor
                </button>
                <button type="button" class="list-group-item list-group-item-action">

                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/nedeljko.ducic" target="_blank"
                        style="text-decoration: none; ">
                        Dr Nedeljko Dučić
                    </a>

                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/marko.popovic" target="_blank"
                        style="text-decoration: none; ">
                        Dr Marko Popović
                    </a>

                </button>

            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action fw-bold" aria-current="true"
                    style="background-color: #f8d7da;">
                    Profesor strukovnih studiјa
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/bojan.jeremic" target="_blank"
                        style="text-decoration: none; ">
                        Dr Boјan Јeremić
                    </a>
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/svetislav.markovic" target="_blank"
                        style="text-decoration: none; ">
                        Dr Svetislav Marković
                    </a>

                </button>

            </div>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action fw-bold" aria-current="true"
                    style="background-color: #f8d7da;">
                    Asistent
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/vojislav.vujicic" target="_blank"
                        style="text-decoration: none; ">
                        Voјislav Vuјičić
                    </a>

                </button>
                <button type="button" class="list-group-item list-group-item-action">

                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/milan.marjanovic" target="_blank"
                        style="text-decoration: none; ">
                        Milan Marјanović
                    </a>
                </button>

            </div>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action fw-bold" aria-current="true"
                    style="background-color: #f8d7da;">
                    Vanredni profesor u penziјi
                </button>
                <button type="button" class="list-group-item list-group-item-action">

                    <a class="text-dark" href="http://www.ftn.kg.ac.rs/vera.lazarevic" target="_blank"
                        style="text-decoration: none; ">
                        Dr Vera Lazarević
                    </a>
                </button>


            </div>
        </div>

    </div>

</div>