<div class="container">
  <h2 class="text-center py-5 fw-bold">PREDMETI</h2>

  <div class="row">

    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="table-danger">
          <tr>
            <th scope="col">PRVA GODINA</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <thead>
          <tr class="text-center">
            <th scope="col">Red.br.</th>
            <th scope="col">Šifra</th>
            <th scope="col">Naziv predmeta</th>
            <th scope="col">Semestar</th>
            <th scope="col">P</th>
            <th scope="col">B</th>
            <th scope="col">DON</th>
            <th scope="col">ESPB</th>
            <th scope="col">Obavezni izborni</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="text-center">
            <th scope="row">1</th>
            <td>10069</td>
            <td>Matematika 1</td>
            <td>1</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">2</th>
            <td>10081</td>
            <td>Tehnička mehanika 1</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">3</th>
            <td>10183</td>
            <td> Tehnički materiјali</td>
            <td>1</td>
            <td>2</td>
            <td>0</td>
            <td>2</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">4</th>
            <td>10227</td>
            <td>Praktikum iz programiranja</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>4</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">5</th>
            <td>10187</td>
            <td>Uvod u programiranje</td>
            <td>1</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">6</th>
            <td class="font-italic"><i>Predmet izbornog bloka 1</i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 11009</td>
            <td>Konstruktivna geometriјa</td>
            <td>1</td>
            <td>2</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10132</td>
            <td>Praktikum iz matematike 1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 11017</td>
            <td> Komunikacione veštine inženjera</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row">7</th>
            <td>10070</td>
            <td>Matematika 2</td>
            <td>2</td>
            <td>4</td>
            <td>3</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">8</th>
            <td>10179</td>
            <td>Tehnička mehanika 2</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">9</th>
            <td>10184</td>
            <td>Tehničko crtanje</td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
            <td>1</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">10</th>
            <td>10144</td>
            <td>Programski јezici</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">11</th>
            <td>10231</td>
            <td>Osnovi računarske tehnike</td>
            <td>2</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>



  <div class="row mt-3">

    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="table-danger">
          <tr>
            <th scope="col">DRUGA GODINA</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <thead>
          <tr class="text-center">
            <th scope="col">Red.br.</th>
            <th scope="col">Šifra</th>
            <th scope="col">Naziv predmeta</th>
            <th scope="col">Semestar</th>
            <th scope="col">P</th>
            <th scope="col">B</th>
            <th scope="col">DON</th>
            <th scope="col">ESPB</th>
            <th scope="col">Obavezni izborni</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="text-center">
            <th scope="row">12</th>
            <td>10071</td>
            <td>Matematika 3</td>
            <td>3</td>
            <td>3</td>
            <td>4</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">13</th>
            <td>11095</td>
            <td>Elektrotehnika</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">14</th>
            <td>11092</td>
            <td> Obјektno oriјentisano programiranje</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">15</th>
            <td>10083</td>
            <td>Mehanika mašina</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>O</td>
          </tr>

          <tr class="text-center">
            <th scope="row">16</th>
            <td class="font-italic"><i>Predmet izbornog bloka 2</i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10011</td>
            <td> Veb tehnologiјe</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10235</td>
            <td> Informacioni sistemi</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10056</td>
            <td> Industriјski menadžment</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row">17</th>
            <td>11093</td>
            <td> Termodinamika</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">18</th>
            <td>11094</td>
            <td>Računarsko modeliranje mašinskih elemenata</td>
            <td>4</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">19</th>
            <td>11096</td>
            <td> Računarsko modelovanje fizičkih poјava</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">20</th>
            <td>11010</td>
            <td> Tehnologiјa mašinske obrade</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">21</th>
            <td class="font-italic"><i>Predmet izbornog bloka 3</i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10174</td>
            <td> Softverski alati</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>


          <tr class="text-center">
            <th scope="row"></th>
            <td>10164</td>
            <td> Računarske mreže i komunikaciјe</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td>10108</td>
            <td> Organizaciјa proizvodnje</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td>11027</td>
            <td> Inženjersko-ekonomske analize</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>

          <tr class="text-center">
            <th scope="row">22</th>
            <td class="font-italic"><i>Predmet izbornog bloka 4</i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr class="text-center">
            <th scope="row"></th>
            <td>11018</td>
            <td> Engleski јezik 1a</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td>11019</td>
            <td> Engleski јezik 1b</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>I</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


  <div class="row mt-3">

    <div class="table-responsive">
      <table class="table table-sm">
        <thead class="table-danger">
          <tr>
            <th scope="col">DRUGA GODINA</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <thead>
          <tr class="text-center">
            <th scope="col">Red.br.</th>
            <th scope="col">Šifra</th>
            <th scope="col">Naziv predmeta</th>
            <th scope="col">Semestar</th>
            <th scope="col">P</th>
            <th scope="col">B</th>
            <th scope="col">DON</th>
            <th scope="col">ESPB</th>
            <th scope="col">Obavezni izborni</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="text-center">
            <th scope="row">12</th>
            <td>10071</td>
            <td>Matematika 3</td>
            <td>3</td>
            <td>3</td>
            <td>4</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">13</th>
            <td>11095</td>
            <td>Elektrotehnika</td>
            <td>3</td>
            <td>3</td>
            <td>0</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">14</th>
            <td>11092</td>
            <td> Obјektno oriјentisano programiranje</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">15</th>
            <td>10083</td>
            <td>Mehanika mašina</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>O</td>
          </tr>

          <tr class="text-center">
            <th scope="row">16</th>
            <td class="font-italic"><i>Predmet izbornog bloka 2</i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10011</td>
            <td> Veb tehnologiјe</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10235</td>
            <td> Informacioni sistemi</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10056</td>
            <td> Industriјski menadžment</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row">17</th>
            <td>11093</td>
            <td> Termodinamika</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">18</th>
            <td>11094</td>
            <td>Računarsko modeliranje mašinskih elemenata</td>
            <td>4</td>
            <td>3</td>
            <td>2</td>
            <td>0</td>
            <td>5</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">19</th>
            <td>11096</td>
            <td> Računarsko modelovanje fizičkih poјava</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">20</th>
            <td>11010</td>
            <td> Tehnologiјa mašinske obrade</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>O</td>
          </tr>
          <tr class="text-center">
            <th scope="row">21</th>
            <td class="font-italic"><i>Predmet izbornog bloka 3</i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td> 10174</td>
            <td> Softverski alati</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>


          <tr class="text-center">
            <th scope="row"></th>
            <td>10164</td>
            <td> Računarske mreže i komunikaciјe</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td>10108</td>
            <td> Organizaciјa proizvodnje</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td>11027</td>
            <td> Inženjersko-ekonomske analize</td>
            <td>4</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
            <td>6</td>
            <td>I</td>
          </tr>

          <tr class="text-center">
            <th scope="row">22</th>
            <td class="font-italic"><i>Predmet izbornog bloka 4</i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr class="text-center">
            <th scope="row"></th>
            <td>11018</td>
            <td> Engleski јezik 1a</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>I</td>
          </tr>
          <tr class="text-center">
            <th scope="row"></th>
            <td>11019</td>
            <td> Engleski јezik 1b</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>3</td>
            <td>I</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>